# Django Settings
# IMPORTANTE: Genera una nueva clave secreta para producción.
# Puedes usar: python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
SECRET_KEY='django-insecure-+!k1u8n8h4im18w9(q5pk958ih9+_rsteb)y6=5%f!rsw#-&lj'

# DEBUG=True para desarrollo, DEBUG=False para producción
DEBUG=True

# Hosts/dominios permitidos para la aplicación, separados por comas
ALLOWED_HOSTS=localhost,127.0.0.1,blandskron.com

# Database Settings (usadas por Docker Compose y desarrollo local)
DB_NAME=tienda_db
DB_USER=postgres
DB_PASSWORD=admin1234
DB_HOST=localhost # Para desarrollo local fuera de Docker. Docker Compose lo sobrescribe.
DB_PORT=5432
