SECRET_KEY='django-insecure-+!k1u8n8h4im18w9(q5pk958ih9+_rsteb)y6=5%f!rsw#-&lj'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,blandskron.com

DB_NAME=tienda_db
DB_USER=postgres
DB_PASSWORD=admin1234
DB_HOST=localhost
DB_PORT=5432
